@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.action-btns
{
  @apply p-2 border-2 text-[#A082A7] border-[#A082A7] flex rounded-3xl items-center gap-2 font-semibold w-28 justify-center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
